<h1>Angular App Design for Migration Summary Dashboard</h1>

<mat-card>
  <mat-card-title>Choose Migration</mat-card-title>
  <mat-card-content>
    <mat-select>
      <mat-option value="sstopg">SQL Server to Postgres</mat-option>
      <mat-option value="ortopg">Oracle DB to Postgres</mat-option>
    </mat-select>
  </mat-card-content>
</mat-card>
<div class="main-title">Source:MSSQLServer</div>
<mat-tab-group>
  <mat-tab label="Tables">
    <mat-card>
      <mat-card-title>Tables</mat-card-title>
      <mat-card-content>
        <mat-select (selectionChange)="getDataforEntity($event.value, 'table')">
          <mat-option
            *ngFor="let table of listofTables"
            [value]="table.value"
            >{{ table.viewvalue }}</mat-option
          >
        </mat-select>
        <table
          mat-table
          [dataSource]="tableData['table']"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>Schema</th>
            <td mat-cell *matCellDef="let element">{{ element.schema }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Functions">
    <mat-card>
      <mat-card-title>Functions</mat-card-title>
      <mat-card-content>
        <mat-select
          (selectionChange)="getDataforEntity($event.value, 'functions')"
        >
          <mat-option
            *ngFor="let function of listofFunctions"
            [value]="function.value"
            >{{ function.viewvalue }}</mat-option
          >
        </mat-select>
        <table
          mat-table
          [dataSource]="tableData['functions']"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>schema</th>
            <td mat-cell *matCellDef="let element">{{ element.schema }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Materlized Views"
    ><mat-card>
      <mat-card-title>Materlized Views</mat-card-title>
      <mat-card-content>
        <mat-select (selectionChange)="getDataforEntity($event.value, 'mview')">
          <mat-option *ngFor="let view of listofMViews" [value]="view.value">{{
            view.viewvalue
          }}</mat-option>
        </mat-select>
        <table
          mat-table
          [dataSource]="tableData['mview']"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>Schema</th>
            <td mat-cell *matCellDef="let element">{{ element.schema }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Views">
    <mat-card>
      <mat-card-title>Views</mat-card-title>
      <mat-card-content>
        <mat-select (selectionChange)="getDataforEntity($event.value, 'view')">
          <mat-option *ngFor="let view of listofViews" [value]="view.value">{{
            view.viewvalue
          }}</mat-option>
        </mat-select>
        <table
          mat-table
          [dataSource]="tableData['view']"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>Schema</th>
            <td mat-cell *matCellDef="let element">{{ element.schema }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content> </mat-card
  ></mat-tab>
  <mat-tab label="Stored Procedures">
    <mat-card>
      <mat-card-title>Stored Procedures</mat-card-title>
      <mat-card-content>
        <mat-select (selectionChange)="getDataforEntity($event.value, 'sp')">
          <mat-option *ngFor="let sp of listofSps" [value]="sp.value">{{
            sp.viewvalue
          }}</mat-option>
        </mat-select>
        <table
          mat-table
          [dataSource]="tableData['sp']"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>Schema</th>
            <td mat-cell *matCellDef="let element">{{ element.schema }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content> </mat-card
  ></mat-tab>
  <mat-tab label="Triggers">
    <mat-card>
      <mat-card-title>Triggers</mat-card-title>
      <mat-card-content>
        <mat-select
          (selectionChange)="getDataforEntity($event.value, 'triggers')"
        >
          <mat-option
            *ngFor="let triger of listofTriggers"
            [value]="triger.value"
            >{{ triger.viewvalue }}</mat-option
          >
        </mat-select>
        <table
          mat-table
          [dataSource]="tableData['triggers']"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>Schema</th>
            <td mat-cell *matCellDef="let element">{{ element.schema }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>

<div class="main-title">Target:PostgreSQL</div>
<mat-tab-group>
  <mat-tab label="Tables">
    <mat-card>
      <mat-card-title>Tables</mat-card-title>
      <mat-card-content>
        <mat-select (selectionChange)="getDataforEntity($event.value, 'table')">
          <mat-option
            *ngFor="let table of listofTables"
            [value]="table.value"
            >{{ table.viewvalue }}</mat-option
          >
        </mat-select>
        <table
          mat-table
          [dataSource]="tableData['table']"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>Schema</th>
            <td mat-cell *matCellDef="let element">{{ element.schema }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Functions">
    <mat-card>
      <mat-card-title>Functions</mat-card-title>
      <mat-card-content>
        <mat-select
          (selectionChange)="getDataforEntity($event.value, 'functions')"
        >
          <mat-option
            *ngFor="let function of listofFunctions"
            [value]="function.value"
            >{{ function.viewvalue }}</mat-option
          >
        </mat-select>
        <table
          mat-table
          [dataSource]="tableData['functions']"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>schema</th>
            <td mat-cell *matCellDef="let element">{{ element.schema }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Materlized Views"
    ><mat-card>
      <mat-card-title>Materlized Views</mat-card-title>
      <mat-card-content>
        <mat-select (selectionChange)="getDataforEntity($event.value, 'mview')">
          <mat-option *ngFor="let view of listofMViews" [value]="view.value">{{
            view.viewvalue
          }}</mat-option>
        </mat-select>
        <table
          mat-table
          [dataSource]="tableData['mview']"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>Schema</th>
            <td mat-cell *matCellDef="let element">{{ element.schema }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Views">
    <mat-card>
      <mat-card-title>Views</mat-card-title>
      <mat-card-content>
        <mat-select (selectionChange)="getDataforEntity($event.value, 'view')">
          <mat-option *ngFor="let view of listofViews" [value]="view.value">{{
            view.viewvalue
          }}</mat-option>
        </mat-select>
        <table
          mat-table
          [dataSource]="tableData['view']"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>Schema</th>
            <td mat-cell *matCellDef="let element">{{ element.schema }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content> </mat-card
  ></mat-tab>
  <mat-tab label="Stored Procedures">
    <mat-card>
      <mat-card-title>Stored Procedures</mat-card-title>
      <mat-card-content>
        <mat-select (selectionChange)="getDataforEntity($event.value, 'sp')">
          <mat-option *ngFor="let sp of listofSps" [value]="sp.value">{{
            sp.viewvalue
          }}</mat-option>
        </mat-select>
        <table
          mat-table
          [dataSource]="tableData['sp']"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>Schema</th>
            <td mat-cell *matCellDef="let element">{{ element.schema }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content> </mat-card
  ></mat-tab>
  <mat-tab label="Triggers">
    <mat-card>
      <mat-card-title>Triggers</mat-card-title>
      <mat-card-content>
        <mat-select
          (selectionChange)="getDataforEntity($event.value, 'triggers')"
        >
          <mat-option
            *ngFor="let triger of listofTriggers"
            [value]="triger.value"
            >{{ triger.viewvalue }}</mat-option
          >
        </mat-select>
        <table
          mat-table
          [dataSource]="tableData['triggers']"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef>Count</th>
            <td mat-cell *matCellDef="let element">{{ element.count }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef>Data</th>
            <td mat-cell *matCellDef="let element">{{ element.data }}</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="schema">
            <th mat-header-cell *matHeaderCellDef>Schema</th>
            <td mat-cell *matCellDef="let element">{{ element.schema }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>